<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>恐怖！誘拐家族からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/kyoto.png" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/samune.jpg" alt="恐怖！誘拐家族からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">プロローグ</span>ゲームを始める前に</h2>
            <p class="text-center">スタートボタンを押したら、被害者から110番通報がここにかかってきて、対応する、という流れになるのですが、中継型はできないので、ストーリーを文章で読み、そこで謎が出てくるので、謎を解いて入力欄に入力する形でゲームを進めていきます。<br>
              <br>
              このページは違いますが、次のページから入力欄はメールを送信する場所という設定になります。<br>
              入力欄に「始める」と書いて、送信を押すと、ストーリーが始まります。<br>
              <br>
              それでは、恐怖！誘拐家族からの脱出ゲームに行ってらっしゃい！！！</p>

            <div class="container">
              <figure class="image__container">
                <img src="assets/images/bohan camera3.png" alt="誘拐家族からの脱出">
              </figure>            
            
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">「始める」と入力！</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- プロローグ-->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">ストーリー</div>
              <div class="clear-message__content">プルルルルルル、プルルルルルル<br>
                警察署に110番通報がかかってきた。<br>
                君は通報を受け取る。<br>
                通話の向こうからは一人の少女の、かすれるように小さい声が聞こえる。<br>
                「高校1年生のS田N子です。今日学校から帰ってる途中に、4人くらいの集団に襲われました。そして、気づいたらこんな部屋に閉じ込められてて。。。ドアも開きません。。。助けてください。」<br>
                君は最近多発している誘拐事件ではないかと思った。家に近づくと犯人を刺激することになる。。。そのとき、通話の向こうから、数人の声が聞こえた。。。<br>
                「次は誰を誘拐しようか。。。誘拐したらすぐ戻る。。。30分で済ませるから。。留守番は4人に任せた。。。」<br>
                この家には誘拐犯が何人もいるのかも知れない、、、そして、人数が少なくなっている30分のうちに脱出しなければ、今後脱出できる可能性は低い、、！！！タイムリミットは30分、被害者をこの家から脱出させる、、！！！！でなければ、、N子ちゃんはどうなるか分からない、、！！！！<br>
                君は、このことをN子ちゃんに伝え、協力して脱出してもらうことにした。<br>
                「分かりました。なんとしても脱出してみせます。」<br>
                <br>
                まずN子ちゃんがいる状況を聞き出す。<br>
                「なんか壁に不気味なサインみたいなものがあります、、6の中に嘘っていう文字があって、、」<br>
                君は「6」の中に「嘘」があるサインを想像してみた。しかし何を表しているかがわかりずらい。そのとき、1件のメール通知がきた。<br>
                「あの、、今警察さんに写真を送りました」<br>
                見るとN子ちゃんからのメールが届いている。<br>
                メールアドレスを知らないのに送られたことを不思議に思った君。するとN子ちゃんはこう言った。<br>
                「IT系には強いんです。怖いかも知れないけど、警察さんのメールなんてすぐ分かります。」<br>
                IT系に強いのか、、納得した君。。他に何かないかを聞く。<br>
                「えっと、、、隣にひらがなを入力するボタンがあります。」<br>
                メールの写真を見たところ、何かの暗号ではないかと思った君。そして、その暗号を入力ボタンに押せばドアが開く。。。そんな早い話しがあるわけない、、と思ったが、何かの手がかりになるかもしれない。その暗号を解くことにした。<br>
                <br>
                メールが送られてきている。「次のステージへ」を押して、メールを確認しよう。</div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage1']" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">メール</span>警察さんへ</h2>
              <p class="text-center">この紙です。<br>
                これが表しているひらがなを教えてください。<br>
                それを入力ボタンに入力してみます、、！</p>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE2-1　ここから -->
                <div class="column">
                  <!-- STAGE2-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/rousoku.jpg" alt="N子ちゃんから送られてきた画像">
                  </figure>
                  <!-- STAGE2-1問題セクション　ここまで -->
                  <!-- STAGE2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  <!-- STAGE2-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE2-1　ここまで -->

<!-- STAGE2-2 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q2']" v-on:answer-input="answerInput($event, 'stage2', 2)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                　
                </div>

2-2追加ここまで -->
                  
<!-- STAGE2-3 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q3']" v-on:answer-input="answerInput($event, 'stage2', 3)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>

                </div>

2-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- 部屋の鍵を開けて、防犯カメラ室に向かうまでのストーリー　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">ストーリー</div>
              <div class="clear-message__content">「あ、、なるほど！！これを入力したらドアが開くかもしれない、、、<br>
                よし、ろうそくって入力します。ろ、う、そ、くっと、、、、<br>
                ｶﾁｬ（ドアを開く音）あ！開きました！」<br>
                開いた、、、！！これで脱出させることができる、、！と思った君。しかし、そう上手くはいかなかった。<br>
                「はっ、人が見えた！ﾊﾟﾀﾝ（ドアを閉める音）。。。。。」<br>
                家には人が何人もいる。部屋を出たら見つかる可能性が高い。するとN子ちゃんが息を潜めて言った。
                「警察さん、ちょっと良いことを思いついたんですけど、、今、突き当たりに防犯カメラ室が見えて、、、このままだと私が動いていることがすぐバレるし、誘拐犯とばったり出くわしたりして捕まってしまうことがあるかもしれません。だから、防犯カメラを管理しているパソコンをハッキングして、犯人からは防犯カメラからの映像を見えなくすると同時に、警察さんは映像を見られるようにしたら、人々の目をすり抜けて脱出できるかもしれません、、！<br>
                今部屋から人が出てきて、中に人はいない様子です。今がチャンスです！」<br>
                なるほど、、その方法なら脱出できるかもしれない、、！！君はそれを実行することにした。<br>
                <br>
                N子ちゃんは防犯カメラ室に着いた。<br>
                「部屋の中は、壁に大きなディスプレイがあります。これが防犯カメラからの映像が見えるところ。。でも真っ暗です、、あ、、ロックされてる！パソコンを開くときのロックがかかってます！、、」<br>
                そんな。。ショックを受けた君。しかし、N子ちゃんは何か言っている。<br>
                「これがロック解除のパスワードなのかな、、とりあえずこれの写真を送ります。、、今警察さんのメールに送りました！確認してください！」<br>
                また1件のメールが来た！何やらまた暗号のようだ。しかし、この暗号がロック解除のパスワードかもしれない！！<br>
                <br>
                メールが来ている。確認しよう！</div>
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->

      <!-- STAGE3　ここから -->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">

        <!-- STAGE3-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">メール</span>警察さんへ</h2>
            <p class="text-center">そのメモはこれです。<br>
              しかくの中に入る数字が分かったら教えて欲しいです。</p>
            <figure class="image__container">
              <img src="assets/images/dentaku.jpg" alt="N子ちゃんから送られてきた画像">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE3-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE3-1解答入力セクション　ここまで -->

        <!-- 防犯カメラ室のロック解除ができて鍵の部屋に向かうまでのストーリー　ここから -->
        <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">ストーリー</div>
              <div class="clear-message__content">「よっし、、これでどうだっ！、、、ロック解除できた！できましたロック解除！警察さんありがとうございます、、！！！」<br>
                やった、、、、！！これで脱出できる！！！君は喜んでいた。
                「あとはハッキングするだけ、、まだ帰ってくる気配はありません、、でも早くしないと！！」<br>
                ---3分後---<br>
                「よしできた！これで警察さんにも見えるようになってるはず！こっちからは真っ黒で何も見えないようにしときました！<br>
                怪しいって気づかれるのは時間の問題だけど、、<br>
                とりあえずこれで脱出への道筋が見えてきた！<br>
                警察さん、私を出口まで導いてください！」<br>
                <br>
                見ると、君のパソコンから、防犯カメラの映像が見えるようになっている。<br>
                君は深呼吸した。これから、人生最大の緊張が走る、隠れ鬼ごっこが始まるのだから。
                まず、出口を探す。出口はすぐ見つかった。玄関がある。<br>
                しかし、次の瞬間、予想外のことが起きた。<br>
                他にも誘拐されている人が見えたのだ。しかも一人一人部屋に閉じ込められている。<br>
                たくさんの鍵がかけられている、鍵の部屋もあった。この中に部屋の鍵があるのかもしれない。<br>
                「助けましょう!放っておくことなんてできません！」<br>
                君もそう思った。しかし、これによってN子ちゃんを助けることができなかったら、、と思うと、今はN子ちゃんだけでも助ける方が良いのではと考える君。<br>
                しかし、N子ちゃんはこんなことを言った。<br>
                「私が警察に通報できたのはスマホがあったからです。スマホ以外の荷物は全部取られました。他の人もそうだと思います。<br>
                それで、私は機械とかが好きなので、スマホを2つ持っていたんです。<br>
                だから、誘拐犯はスマホが2つあるとは思わず、カバンの中にあるスマホだけ取って行って、ポケットの中のスマホは取らなかったんだと思います。<br>
                でも、他の人はそんなことは滅多にありません。だから、助けることができるのは、今だけだと思います、、、！」<br>
                そうか。。。全員絶対助ける、、、、！君はそう思った。<br>
                君は途中誘拐犯と出くわさないように、防犯カメラを見ることに全力集中をかけ、N子ちゃんを鍵の部屋まで連れて行った。。。<br>
                <br>
                無事連れて来ることができた君。（途中で誘拐犯に捕まったらゲームオーバーになっています）
                「ここが鍵の部屋か、、、ｶﾁｬ（ドアを開ける音）、、ほんとだ、、すっごくたくさんある、、全部同じような形だし、、、どれがどれか分かりません、、、」<br>
                どうすれば、、、と考える君。そんなとき、君はそれぞれ部屋のドアの外側に、ひらがなが書かれていることに気づいた。このひらがなはなんだろう、と思いながら、よーーーく防犯カメラの映像を見る。。。</div>
                <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage4'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE3クリア画面　ここまで -->
      </div>
      <!-- STAGE3　ここまで -->
      
      <!-- STAGE4 ここから -->
      <div v-if="next['stage3']" id="sectionStage4" class="stage">

        <!-- STAGE4-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">メール</span>N子ちゃんへ</h2>
            <p class="text-center">ひらがなは何を表しているのでしょうか？<br>
              〇に当てはまる言葉を考え、ひらがなが何を表しているかをN子ちゃんに伝えましょう。<br>
              ※〇〇〇とその後の文章もメールで打って送信しましょう。<br>
              <br>
              〇〇〇と鍵の位置が関係している</p>              
            <figure class="image__container">
              <img src="assets/images/bohan camera3.png" alt="防犯カメラの画像">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE4-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage4']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1)"></answer-input>
            <a class="link-hint" href="hint4.html" target="hint4">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE4-1解答入力セクション　ここまで -->
        
        <!-- 部屋を開けられる鍵が分かって、部屋を次々と開けにいき、助けるが、誘拐家族に捕まりそう！というストーリー　ここから -->
        <section v-if="clear['stage4']" v-bind:class="{isClear:clear['stage4']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">ストーリー</div>
              <div class="clear-message__content">「なるほど！！！！！警察さんありがとうございます！！！！ よし、「こ」、「や」、、「そ」、、「も」っと。よし。全部持ちました！」<br>
                君ははN子ちゃんをそれぞれの部屋に誘導した。<br>
                「ここが「こ」の部屋だから「こ」の鍵っと、、ｶﾞﾁｬｶﾞﾁｬ、ｶﾁｬ、、、、、、」<br>
                <br>
                誘拐された人が驚いていることが防犯カメラから分かった。君が説明をすると、誘拐された人はほっとしたように崩れ落ちた。
                「本当に良かった。。。では次の部屋も開けにいきましょう、、！」<br>
                N子ちゃんは次々に部屋を開ける。。。。。。そしてついに4人全員の部屋を開けることができた、、、！！！！！あとは玄関に向かうだけ。。。<br>
                君は最後の最後まで気を抜かず、ついに玄関先までたどり着いた、、、！！！！！<br>
                「ついに脱出！！！！！！！」<br>
                N子ちゃんはついにドアを開けた！！！！！！！！！！！！！！<br>
                君は感動のフィナーレが来ると思っていた！！！！！！！！が。。。。。
                <br>
                「ｶﾞﾁｬ、ｶﾞﾁｬｶﾞﾁｬ、、開かない！！なんで！！」<br>
                N子ちゃんの逼迫した声が伝わる。<br>
                他のみんなも焦り出す。<br>
                そんなとき、他の一人が何かを見つけたようだ、、、！！！
                「ん、、、、？ほんとだ！小さい暗号がある！！！写真撮りました！送ります！！！！」<br>
                N子ちゃんから、メールが送られてきたそのとき、誘拐犯が近づいてくる足音が聞こえた。誘拐犯の声が聞こえる。<br>
                「来る！！誘拐犯が！！！」<br>
                みんなはそれぞれに散らばり隠れた。<br>
                誘拐犯に、脱出しようとしていることがバレたのかもしれないと思った君。ここにずっといては誘拐犯に見つかってしまう可能性が高い。<br>
                <br>
                君は全力を注いでその謎を解いた。</div>
                <button v-on:click="nextStage('stage4')" onclick="location.href='#sectionStage5'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE3クリア画面　ここまで -->        
      </div>
      <!-- STAGE4ここまで -->
        
      <!-- STAGE5 ここから -->
      <div v-if="next['stage4']" id="sectionStage5" class="stage">

        <!-- STAGE5-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">メール</span>警察さんへ</h2>
            <p class="text-center">これです！！！<br>
              YUKAIの次の6文字を教えてください、、！！！</p>
            <figure class="image__container">
              <img src="assets/images/yukai.jpg" alt="N子ちゃんから送られてきた画像">
            </figure>
          </div>
        </section>
        <!-- STAGE5-1問題セクション　ここまで -->

        <!-- STAGE5-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage5']['q1']" v-on:answer-input="answerInput($event, 'stage5', 1, 'final')"></answer-input>
            <a class="link-hint" href="hint5.html" target="hint5">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE5-1解答入力セクション　ここまで -->
        
        

      <div>
      <!-- STAGE5ここまで -->

    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
