<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>恐怖！誘拐家族からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo.svg" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/main-image.png" alt="封鎖された家庭科室からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">プロローグ</span>ゲームを始める前に</h2>
            <p class="text-center">スタートボタンを押したら、被害者から110番通報がここにかかってきて、対応する、という流れになるのですが、中継型はできないので、ストーリーを文章で読み、そこで謎が出てくるので、謎を解いて入力欄に入力する形でゲームを進めていきます。<br>
              <br>
              このページは違いますが、次のページから入力欄はメールを送信する場所という設定になります。<br>
              入力欄に「始める」と書いて、送信を押すと、ストーリーが始まります。<br>
              <br>
              それでは、恐怖！誘拐家族からの脱出ゲームに行ってらっしゃい！！！</p>
  
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/stage.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：1</span>キーワードを入力</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint" href="hint1.html" target="hint1">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- プロローグ-->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">ストーリー</div>
              <div class="clear-message__content">プルルルルルル、プルルルルルル<br>
                警察署に110番通報がかかってきた。<br>
                君は通報を受け取る<br>
                「こちらNS中央警察署です。何がありましたか。」<br>
                通話の向こうからは一人の少女の声が聞こえる。<br>
                「助けてください、、、高校1年生のS田N子です。。。今日学校から帰ってる途中に、なんか4人くらいの集団に襲われて、そっからは覚えてなくて、、気づいたらこんな部屋に閉じ込められてて。。。ドアも開かなくて。。。」<br>
                君は思った。<br>
                「最近多発している誘拐事件かもしれない、、この前の誘拐事件では犯人を直接捕まえようとして被害者が人質にさらされ亡くなってしまった、、、<br>
                また直接捕まえに行ったらこの子も亡くなってしまうかもしれない、、、！<br>
                今度は被害者自身に脱出してもらうしかない、、、！」<br>
                そう思った君は、まず被害者がいる状況を聞き出すことにした。被害者の名前はN子と言うらしい。<br>
                君「今はどんな部屋にいますか？周りに何かありますか？」<br>
                N子「なんかドアに紙が貼られています、、」<br>
                君「何か書かれていますか？」<br>
                N子「6の中に嘘っていう文字があって、、あの、、今警察さんに写真を送りました」<br>
                君「あ、、メールがきました、、何でメールアドレスを知らないのに送れたのですか？」<br>
                N子「IT系には強いんです。警察さんのメールなんてすぐ分かります。」<br>
                君「、、、、そうですか。。。。ほんとだ、メールが送られてきてる、、これはなんだ、、？？」<br>
                N子「あと、隣にひらがなを入力するボタンがあります、、」<br>
                君「謎解きみたいですね、、もしかしたら、そこにこの謎の答えを入力するのかもしれません。私も考えてみます。」<br>
                メールが送られてきている。次に進を押して、メールを確認しよう。</div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage1']" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">メール</span>警察さんへ</h2>
              <p class="text-center">この紙です。<br>
                ※答えが分かったら送信を押して答えを伝えてください。<br>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage">STAGE：2</span>キーワードを入力</h2>
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE2-1　ここから -->
                <div class="column">
                  <!-- STAGE2-1問題セクション　ここから -->
                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>
                  <!-- STAGE2-1問題セクション　ここまで -->
                  <!-- STAGE2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                  <!-- STAGE2-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE2-1　ここまで -->

<!-- STAGE2-2 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q2']" v-on:answer-input="answerInput($event, 'stage2', 2)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>
                　
                </div>

2-2追加ここまで -->
                  
<!-- STAGE2-3 を追加

                <div class="column">

                  <figure class="image__container">
                    <img src="assets/images/stage.png" alt="">
                  </figure>

                  <answer-input v-bind:correct="correctAnswer['stage2']['q3']" v-on:answer-input="answerInput($event, 'stage2', 3)"></answer-input>
                  <a class="link-hint" href="hint2.html" target="hint2">ヒントをみる ></a>

                </div>

2-3追加ここまで -->

              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- 部屋の鍵を開けて、防犯カメラ室に向かうまでのストーリー　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">ストーリー</div>
              <div class="clear-message__content">「あ、、なるほど！！これを入力したらドアが開くかもしれない、、、<br>
                よし、ろうそくって入力します。ろ、う、そ、くっと、、、、<br>
                ｶﾁｬ（ドアを開く音）あ！開きました！はっ、人が見えた！ﾊﾟﾀﾝ（ドアを閉める音）。。。。。<br>
                。。。。。警察さん、ちょっと良いことを思いついたんですけど、、今、突き当たりに防犯カメラ室が見えました。<br>
                このままだと私が動いていることがすぐバレるし、誘拐犯とばったり出くわしたりして捕まってしまうことがあるかもしれません。<br>
                だから、防犯カメラを管理しているパソコンをハッキングして、犯人からは防犯カメラからの映像を見えなくすると同時に、警察さんは映像を見られるようにしたら、人々の目をすり抜けて脱出できるかもしれません、、！<br>
                今部屋から人が出てきて、中に人はいない様子です。<br>
                今がチャンスです！私にやらせてください！」<br>
                君はOKを出し、（出さない場合もある）防犯カメラ室に入った。<br>
                <br>
                N子ちゃんは現状報告する。「部屋の中は、壁に大きなディスプレイがあります。真っ暗だな、、あ、、ロックされてる！パソコンを開くときのロックがかかってます！、、<br>
                、、どうしよう、、え、なんか変なメモみたいなものがありました！<br>
                これがロック解除のパスワードなのかな、、とりあえずこれの写真を送ります。、、今警察さんのメールに送りました！確認してください！</div>
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->

      <!-- STAGE3　ここから -->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">

        <!-- STAGE3-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">メール</span>警察さんへ</h2>
            <p class="text-center">そのメモはこれです。</p>
            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE3-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
            <a class="link-hint" href="hint3.html" target="hint3">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE3-1解答入力セクション　ここまで -->

        <!-- 防犯カメラ室のロック解除ができて鍵の部屋に向かうまでのストーリー　ここから -->
        <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">ストーリー</div>
              <div class="clear-message__content">「よっし、、これでどうだっ！、、、ロック解除できた！できましたロック解除！<br>
                あとはハッキングするだけ、、まだ帰ってくる気配はありません、、でも早くしないと！！」<br>
                ---3分後---<br>
                「よしできた！これで警察さんにも見えるようになってるはず！こっちからは真っ黒で何も見えないようにしときました！<br>
                怪しいって気づかれるのは時間の問題だけど、、<br>
                とりあえずこれで脱出への道筋が見えてきた！<br>
                警察さん、私を出口まで導いてください！」<br>
                <br>
                君は防犯カメラの映像をよく見た。すると、他にも誘拐されている人が見える！一人一人部屋に閉じ込められている！<br>
                君はN子ちゃんにそれを伝える。するとN子ちゃんはこう言った。<br>
                「助けましょう。警察さんからはこっちの様子が全部把握できてるわけだし、誘拐犯に見つからずにみんなを助け出すこともできるはずです！」<br>
                君はさらに、鍵らしきものがたくさんある部屋があることに気づいた。この中にそれぞれの部屋の鍵があるかもしれない。<br>
                鍵の部屋は誰もいなさそうだ。君はN子ちゃんをそこに誘導することに決めた。（違う判断をする場合もある）<br>
                「わかりました。鍵の部屋、行きます。」<br>
                「ｶﾁｬ（ドアを開ける音）、、ほんとだ、、すっごくたくさんある、、どれが部屋を開けられる鍵なのかな、、、<br>
                うーーーーーーーん、、よく分からないな、、、」<br>
                息詰まったN子ちゃん。そんなとき、君はそれぞれ部屋のドアの外側に、ひらがなが書かれていることに気づいた。<br>
                君はこのひらがなはなんだろう、と思いながら、よーーーく防犯カメラの映像を見る。。。</div>
                <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage4'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE3クリア画面　ここまで -->
      </div>
      <!-- STAGE3　ここまで -->
      
      <!-- STAGE4 ここから -->
      <div v-if="next['stage3']" id="sectionStage4" class="stage">

        <!-- STAGE4-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">メール</span>N子ちゃんへ</h2>
            <p class="text-center">ひらがなは何を表しているのでしょうか？<br>
              〇に当てはまる言葉を考え、ひらがなが何を表しているかをN子ちゃんに伝えましょう。<br>
              ※〇〇〇とその後の文章もメールで打って送信しましょう。<br>
              ※実際は声に出してN子ちゃんに伝えますが、ここではできないので、文字で打つことになっています。<br>
              <br>
              〇〇〇と鍵の位置が関係している</p>              
            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE4-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1)"></answer-input>
            <a class="link-hint" href="hint4.html" target="hint4">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE4-1解答入力セクション　ここまで -->
        
        <!-- 部屋を開けられる鍵が分かって、部屋を次々と開けにいき、助けるが、誘拐家族に捕まりそう！というストーリー　ここから -->
        <section v-if="clear['stage4']" v-bind:class="{isClear:clear['stage4']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">ストーリー</div>
              <div class="clear-message__content">「よっし、、これでどうだっ！、、、ロック解除できた！できましたロック解除！<br>
                あとはハッキングするだけ、、まだ帰ってくる気配はありません、、でも早くしないと！！」<br>
                ---3分後---<br>
                「よしできた！これで警察さんにも見えるようになってるはず！こっちからは真っ黒で何も見えないようにしときました！<br>
                怪しいって気づかれるのは時間の問題だけど、、<br>
                とりあえずこれで脱出への道筋が見えてきた！<br>
                警察さん、私を出口まで導いてください！」<br>
                <br>
                君は防犯カメラの映像をよく見た。すると、他にも誘拐されている人が見える！一人一人部屋に閉じ込められている！<br>
                君はN子ちゃんにそれを伝える。するとN子ちゃんはこう言った。<br>
                「助けましょう。警察さんからはこっちの様子が全部把握できてるわけだし、誘拐犯に見つからずにみんなを助け出すこともできるはずです！」<br>
                君はさらに、鍵らしきものがたくさんある部屋があることに気づいた。この中にそれぞれの部屋の鍵があるかもしれない。<br>
                鍵の部屋は誰もいなさそうだ。君はN子ちゃんをそこに誘導することに決めた。（違う判断をする場合もある）<br>
                「わかりました。鍵の部屋、行きます。」<br>
                「ｶﾁｬ（ドアを開ける音）、、ほんとだ、、すっごくたくさんある、、どれが部屋を開けられる鍵なのかな、、、<br>
                うーーーーーーーん、、よく分からないな、、、」<br>
                息詰まったN子ちゃん。そんなとき、君はそれぞれ部屋のドアの外側に、ひらがなが書かれていることに気づいた。<br>
                君はこのひらがなはなんだろう、と思いながら、よーーーく防犯カメラの映像を見る。。。</div>
                <button v-on:click="nextStage('stage4')" onclick="location.href='#sectionStage5'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE3クリア画面　ここまで -->        
      </div>
      <!-- STAGE4ここまで -->
        
      <!-- STAGE5 ここから -->
      <div v-if="next['stage4']" id="sectionStage5" class="stage">

        <!-- STAGE5-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">メール</span>警察さんへ</h2>
            <p class="text-center">このメモだけ発見しました</p>
            <figure class="image__container">
              <img src="assets/images/stage.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE5-1問題セクション　ここまで -->

        <!-- STAGE5-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">STAGE：3</span>キーワードを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage5', 1, 'final')"></answer-input>
            <a class="link-hint" href="hint5.html" target="hint5">ヒントをみる ></a>
          </div>
        </section>
        <!-- STAGE5-1解答入力セクション　ここまで -->
        
        

      <div>
      <!-- STAGE5ここまで -->

    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
